[
    {rabbit, [
      {default_user, <<"admin">>},
      {default_pass, <<"admin">>},
      {log,
        [{console, [{level, error}]}]
      }
    ]},
    {leek_webhooks,
      [
        {username, <<"admin">>},
        {password, <<"admin">>},
        {virtual_host, <<"/">>},
        {subscriptions,
          [
            {default,
              [
                {exchange, <<"celeryev">>},
                {queue, <<"celeryev.fanout">>},
                {routing_key, <<"#">>},
                {api_url, <<"http://api:5000/this/v1/events/process">>},
                {custom_headers,
                  [
                    {<<"x-leek-api-key">>, <<"secret">>},
                    {<<"x-leek-org-name">>, <<"ramp.com">>},
                    {<<"x-leek-app-name">>, <<"leek">>},
                    {<<"x-leek-app-env">>, <<"prod">>}
                  ]
                },
                {success_status_codes, [201]},
                {backoff_status_codes, [404, 503, 400]},
                {backoff_delay_ms, 5000}
              ]
            }
          ]
        }
      ]
    }
].